<!DOCTYPE html>
<html>
<head>
<title>Python-Flask Upload and Display Image with Detected Lighting_Poles</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />        
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<style>

</style>
</head>
<body class="container">
        <div style="text-align:center; margin-top:3%">
            <div>
                <img src="static/object_detection_2022.png" width="1000px">
            </div>
        </div>
<p><h1 style="color:rgb(255, 215, 0);" align="center">--------------------------------------------------------------------------------------------</h1></p>
<p><h1  style="color:rgb(155, 89, 182);" align="center"><strong>Python-Flask Upload and Display Image</strong></h1></p>
<p><h1  style="color:rgb(155, 89, 182);" align="center"><strong>with Detected Lighting_Poles</strong></h1></p>
<p><h1 style="color:rgb(255, 215, 0);" align="center">--------------------------------------------------------------------------------------------</h1></p>

<div class="row">
    <h2>Select a file to upload</h2>
    <p><h3>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
    <h3></p>

<br>
    <form method="post" action="/" enctype="multipart/form-data">
        <dl>
            <p>
                <input type="file" name="file" class="form-control" autocomplete="off" required>
            </p>
        </dl>
        <p>
            <input type="submit" value="Submit" class="btn btn-info">
        </p>
    </form>
    <div>

    </div>
    <div style="display:flex; justify-content: space-between;">
        <div>
            {% if filename %}
            <p><h3 style="text-align:left">This is the image before detection</h3></p>
                <div>
                    <img src="{{ url_for('display_image', filename=filename.original) }}" width="400px">
                </div>
            {% endif %}
            <br>
        </div>
        <div>
            {% if filename %}
            <p><h3 style="text-align:left">This is the image after detection</h3></p>
            <div>
                <img src="{{ url_for('display_image1', filename=filename.detect) }}" width="400px">
            </div>
            {% endif %}
        </div>
    </div>


    {% if filename %}
    <table>
        <thead>
        </thead>
        <tbody>
        {% for i in filename.jsondata %}
        <tr>
            
		<td><h1 align="left">{{i}}</h1></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif%}
</div>
</body>
</html>
